<!DOCTYPE html>
<html>
	<head>
		<title>Mounika</title>
          <link rel="stylesheet" type="text/css" href="C:\Git\uiOct2016Class\10_13_2016\Mounika\Styles\mounika.css"> 
          <meta name="viewpoint" content="width=device-width, initial-sacle=1">
          <meta name="Description" content="positions for front end UI developer"/>
          <meta name="keywords" content="Applicationform,uideveloper,scrummaster,Tester">
          <meta Charset="UTF-8"/>
	</head>
	<!--Body for web page-->
     <body>
		<article>
			<header>
				<h1>Application Form</h1>
			</header>
			<section>
				<form>
					Firstname: <input id="firstname" type="text" name="firstname" value="Mounika">
					           
					           
					Email ID: <input id="email" type= "email" ID="Mail id" value="123@gmail.com">
					          
					Phone No: <input id ="phno" type=text" name="phno" value="12345">

					 <label for="Password">Password:</label>
                     <input type="password" id="Password" name="Password" placeholder="**********">
					          
					Gender:   <!--Gender -->
                                                 
                                                  <div id="gender">
                                                  <label for="male">Male</label>
                                                  <input type="radio" id="male" name="gender" value="Male">
                                                  <label for="female">Female</label>
                                                  <input type="radio" id="female" name="gender" value="Female">
                                                  <label for="other">Other</label>
                                                  <input type="radio" id="other" name="gender" value="Other">                                       
                                                                                                
                                                                                                                                                 
                                                  <!--Different types of positions applicant looking for, used checkbox -->
                                                 
                                                  <h5>Position you are looking for</h5>
                                                  <label for="jobLookingFor">Check all that apply</label>
                                                  <div id="jobLookingFor">
                                                  <label for="UI developer">UI developer</label>
                                                  <input type="checkbox" id="UI developer" name="jobsearchingFor" value="UI developer">
                                                  <label for="Tester">Tester</label>
                                                  <input type="checkbox" id="Tester" name="jobLookingFor" value="Tester">
                                                  <label for="Scrummaster">Scrummaster UI</label>
                                                  <input type="checkbox" id="Scrummaster" name="jobLookingFor" value="Scrummaster">
                                                  
                                                  <!--Submit Button -->
                                                  <button type="submit" id="submit">
                                                  <span>Submit</span>
                                                  </button>
                                                  <!--Reset/Cancel Button -->
                                                  <button type="reset" id="reset">
                                                  <span>Cancel</span>
                                                  </button>
                                                  </form>
                                                  </section>
                                                  <!--footer of page -->
                                                  <footer>
                                                  <h1>I am at the bottom </h1>
                                                  </footer>
                                                  </article>
                                                  </body>
                                                  </html>