<!DOCTYPE HTML>
<html>
</html>
<head>
<title>Application form</title>
<link rel="stylesheet" type="text/css" href="../Styles/Styles.css">
          <meta name="viewpoint" content="width=device-width, initial-sacle=1">
          <meta name="Description" content="positions for front end UI developer"/>
          <meta name="keywords" content="Applicationform,uideveloper,scrummaster,Tester">
          <meta Charset="UTF-8"/>
</head>
<body>
<h1>This is Header</h1>
	<center>
		<form>

         <label for="firstName">Enter your Firstname :</label>
         <input type="text" id="firstName" name="firstName" placeholder="David">
         <label for="LastName">Enter your Lastname :</label>
         <input type="text" id="Lastname" name="Lastname" placeholder="bob">
         <label for="phno">Phone number :</label>
         <input type="text" id="phno" name="phno" placeholder="123456">
         <label for="gender">Applicants Gender :</label>  
         <label for="male">Male</label>
         <input type="radio" id="male" name="gender" value="Male">
         <label for="Femmale">female</label>
         <input type="radio" id="female" name="gender" value="female">
         <label for="Other">Other</label>
         <input type="radio" id="Other" name="Other" value="Other">
         <h5>Position you are looking for</h5>
         <label for="jobLookingFor">Check all that apply</label>
         <div id="jobLookingFor">
         <label for="UI developer">UI developer</label>
         <input type="checkbox" id="UI developer" name="jobsearchingFor" value="UI developer">
         <label for="Tester">Tester</label>
         <input type="checkbox" id="Tester" name="jobLookingFor" value="Tester">
         <label for="Scrummaster">Scrummaster UI</label>
         <input type="checkbox" id="Scrummaster" name="jobLookingFor" value="Scrummaster">
         <div>
         	<button type="submit" id="submit">
         	<span>Submit</span>
         	</button>
         	<button type="reset" id="reset">
         	<span>Cancel</span>
         	</button>         	
         </div>
         <footer>
          At the bottom
         </footer>
		</form>
	</center>
</body>

</html>